{% extends 'base.html' %}



{% block content %}
<div class="container custom-container">Exercises
  <div class="p-5 border bg-dark">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-2">

          <div class="card" style="width: 13rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cobra Gold</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Select</a>
          </div>
        </div>

        </div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block content-another %}
<div class="container custom-container">Units
  <div class="p-5 border bg-dark">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-2">

          <div class="card" style="width: 13rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">7th Comm Bn</h5>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary">Select</a>
          </div>
        </div>

        </div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
      <div class="col">
        <div class="p-2"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}